# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
vendor/
.bundle/
Gemfile.lock

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Node
node_modules/


# Logs
server.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
